[project]
	description = JavaScript library to dynamically create HTML pages, elements and widgets
[access "refs/*"]
	owner = group user/Raffaele Rossi (raffopazzo)
[access "refs/for/refs/*"]
	read = group user/Raffaele Rossi (raffopazzo)
	push = group user/Raffaele Rossi (raffopazzo)
	label-Code-Review = -2..+2 group user/Raffaele Rossi (raffopazzo)
	label-Verified = -1..+1 group user/Raffaele Rossi (raffopazzo)
	rebase = group user/Raffaele Rossi (raffopazzo)
	removeReviewer = group user/Raffaele Rossi (raffopazzo)
	submit = group user/Raffaele Rossi (raffopazzo)
[access "refs/heads/*"]
	read = group user/Raffaele Rossi (raffopazzo)
	create = group user/Raffaele Rossi (raffopazzo)
	push = +force group user/Raffaele Rossi (raffopazzo)
	pushMerge = group user/Raffaele Rossi (raffopazzo)
[access "refs/tags/*"]
	push = +force group user/Raffaele Rossi (raffopazzo)
	pushTag = group user/Raffaele Rossi (raffopazzo)
	pushSignedTag = group user/Raffaele Rossi (raffopazzo)
